#navbarSupportedContent ul{
    float:right;
}
#contain {
    display: flex;
}
#contain .col-md-10{
    margin:0;
}
#contain .role .delete-form{
    display: unset;
}
#sidebar {
    display: block;
    position: relative;
    z-index: 16;
}
#sidebar .panel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar .menu-list .list-group-item{
    border-radius: 0;
    background-color: #337ab7;
    color:white;
}
#sidebar .menu-list .list-group-item:first-child{
    border-bottom: none;
}
#sidebar .menu-list ul{
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
}
#sidebar .menu-list ul li{
    border-top:1px solid #ddd;
    padding: 15px 30px;
}
#sidebar .menu-list ul li:last-child{
    border:none;
}
.modal-header .close{
    right: 0;
    padding: 0 1rem;
    position: absolute;
    margin: 0;
}
.modal-header .modal-title{
    margin: auto;
    float: left;
}
.modal-body {
    text-align: center;
}
.provider .table a{
    border: 1px solid #ddd!important;
    background: #ddd!important;
}
.btn-back{
    background-color: #cccccc!important;
    color: black;
}
.color-red{
    color: red!important;
}
.suggest-search{
    display: none;
    border:1px solid #ddd;
    position: absolute;
    z-index: 10000;
    background-color: white;
    width: 100%;
}
.suggest-search a{
    padding:5px;
    border-bottom:1px solid #ddd;
    display: block;
}
.suggest-search a:hover {
    background-color: #ccc;
    text-decoration: none;
}
.suggest-search a:last-child{
    border:none;
}

.suggest-search-vat-tu{
    display: none;
    border:1px solid #ddd;
    position: absolute!important;
    padding: 0!important;
    z-index: 1000000;
    background-color: aliceblue;
}
.suggest-search-vat-tu a{
    padding:5px;
    border-bottom:1px solid #ddd;
    display: block;
}
.suggest-search-vat-tu a:hover {
    background-color: #ccc;
    text-decoration: none;
}
.suggest-search-vat-tu a:last-child{
    border:none;
}
.form-nhap{
    padding: 0% 5%!important;
    margin-top:30px;
}
.infor-phieu-nhap{
    max-width: 992px;
}
.form-nhap table{
}
.form-nhap table tr{
    width: 100%;
}
.form-nhap table tr td{
    border:1px solid white;
}
.form-nhap .infor-phieu-nhap label.col-md-4.col-form-label{
    padding-left: 30px
}

.company-infor td{
    border:1px solid black !important;
    vertical-align: middle!important;
}
.khung td{
    border: 1px solid black!important;
    text-align: right;
}
.khung-header{
    text-align: center;
}
.khung-header td {
    border: 1px solid black !important;
    border-top: 1px solid black !important;
}
.width-14{
    width: 14%;
}
.width-18{
    width: 18%!important;
}
.bottom-form td p{
    padding-bottom: 50% ;
}
.form-name{
    font-size: xx-large;
}
.border-none td{
    border:none!important;
}
fieldset.infor-phieu-nhap{
    border: 1px groove #ddd !important;
    padding: 10px 0px 10px 2px !important;
    box-shadow: 0px 0px 0px 0px #000;
}
fieldset.infor-phieu-nhap legend{
    font-size: 1.5em !important;
    text-align: left !important;
    color: #3C8DBC;
    border-bottom: 0;
    width: auto;
    margin: 0;
}
.new-vt, .newNCC{
    height:34px!important;
}
.infor-phieu-nhap .col-md-6{
    margin-top:10px;
    margin-bottom:10px;
}
.chi-tiet{
    margin-top:30px;
}
.chi-tiet table thead{
    background-color: #ddd;
}
.chi-tiet table td{
    border:1px solid #9d9d9d!important;
}
.delete-form{
    display: inline-block;
}
.show-form{
    margin-top:30px;
}
.pagination{
    margin-top:0!important;
    float: right;
}
.report label{
    padding-right: 5px;
    padding-left: 5px;
}
.report .form-group{
    margin-bottom:25px;
}
#piechart-1,#piechart-2{
    display: inline-block;
}
#export-report table th{
    text-align: center;
}
.card .body input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.search-container input[type=text] {
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 8px;
    font-size: 17px;
}
.search-container button:hover {
    background: #ccc;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.search-container {
    float: right;
}
.size-16{
    font-size: 16px!important;
}
#chartNhap a,#chartXuat a, #chartTon a{
    display:none!important;
}
.amcharts-chart-div svg {
    min-width: 100%!important;
    height: 250px!important;
}
.chart h3{
    text-align: center;
    margin-top: -60px;
}